$font-stack:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$primary-color: rgb(51, 51, 51);
$primary-text-color: white;
$card-color: rgb(44, 44, 44);
$entry-color: rgb(55, 55, 55);
$required-field: red;
$add-btn: green;
$edit-btn: blue;
$remove-btn: red;

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $primary-text-color;
  font-size: 24px;
}

h1 {
  font-size: 3rem;
  margin: 32px 0 0 0;
  padding: 0;
  text-align: center;
}

@mixin card {
  background-color: $card-color;
  padding: 32px;
  margin: 32px auto 64px auto;
  border-radius: 24px;
}

.modal {
  display: none; // hide by default
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close-modal-btn {
  border: none;
  display: inline-block;
  padding: 32px 32px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: $primary-text-color;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 2rem;
}

.topright {
  position: absolute;
  right: 0;
  top: 0;
}

#add-book-btn,
#create-book-btn,
#confirm-edit-book-btn {
  background-color: $add-btn;
  font-size: 1.5rem;
  padding: 12px 24px;
  color: $primary-text-color;
  border-style: none;
  border-radius: 16px;
}

button > i {
  // Prevent font-awesome icon from blocking parent button's click event
  pointer-events: none;
}

form {
  @include card;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 1.5rem;
  }
  
  input {
    font-size: 1rem;
    width: 24em;
    padding: .5em 1em;
    margin: 10px 0;
    border-radius: 1em;
    border-style: none;
  }

  input.required {
    border-style: solid;
    border-width: 4px;
    border-color: $required-field;
  }
}

@mixin entry-card {
  background-color: $entry-color;
  padding: 16px;
  margin: 32px auto;
  border-radius: 24px;
}

@mixin small-btn {
  font-size: 1rem;
  padding: 6px 12px;
  color: $primary-text-color;
  border-style: none;
  border-radius: 8px;
}

.card {
  @include card;
  width: 800px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  thead {
    margin: 0;
    padding: 0;
  }

  tbody {
    margin: 0;
    padding: 0;
  }
  
  tr {
    @include entry-card;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr .5fr;
    align-items: center;
    gap: 12px;
  }
  
  th {
    text-align: left;
  }

  th.num,
  td.num {
    text-align: right;
  }

  td.btn-cell {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
  }

  .edit-btn {
    @include small-btn;
    background-color: $edit-btn;
  }

  .remove-btn {
    @include small-btn;
    background-color: $remove-btn;
  }
}